xsim.dir/
*.wdb
*.jou
*.log
*.pb
vivado_*.backup.*
xsim_*.backup.*
xelab.*
xvlog.*
dfx_runtime.txt
build_iverilog/
build_xsim/
build_synth_xck26/
build_bd_*/
build_system_*/
!build_system_kv260_carrier/
build_system_kv260_carrier/*
!build_system_kv260_carrier/conv_accel_ps_dma_minimal.xsa
build_vitis_2022_2*/
/build_vitis_*.tcl
clockInfo.txt
.Xil/
.ip_user_files/
